--
-- PostgreSQL database dump
--

\restrict Vuh2lD5nXz1OvLELAahNRrOJvmJ8U1Lro2o0MJ37830Ki9foaTs6P4mZ1cXvn9v

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.attachments (
    id uuid NOT NULL,
    mission_id uuid NOT NULL,
    mission_update_id uuid,
    cloudinary_url character varying(1000) NOT NULL,
    cloudinary_public_id character varying(500) NOT NULL,
    type character varying(10) NOT NULL,
    uploaded_by_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.attachments OWNER TO missiondz;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO missiondz;

--
-- Name: mission_updates; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.mission_updates (
    id uuid NOT NULL,
    mission_id uuid NOT NULL,
    author_id uuid NOT NULL,
    message text NOT NULL,
    visible_to_client boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mission_updates OWNER TO missiondz;

--
-- Name: missions; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.missions (
    id uuid NOT NULL,
    client_id uuid NOT NULL,
    category_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    address_algeria character varying(500) NOT NULL,
    wilaya character varying(100) NOT NULL,
    preferred_date date,
    status character varying(20) NOT NULL,
    executor_type character varying(20),
    executor_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.missions OWNER TO missiondz;

--
-- Name: partner_commissions; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.partner_commissions (
    id uuid NOT NULL,
    mission_id uuid NOT NULL,
    partner_id uuid NOT NULL,
    montant numeric(10,2) NOT NULL,
    statut character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.partner_commissions OWNER TO missiondz;

--
-- Name: partner_profiles; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.partner_profiles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    entreprise character varying(255),
    specialite character varying(255),
    wilaya character varying(100) NOT NULL,
    statut_validation character varying(20) NOT NULL,
    taux_commission numeric(5,2),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.partner_profiles OWNER TO missiondz;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    mission_id uuid NOT NULL,
    type character varying(10) NOT NULL,
    montant numeric(10,2) NOT NULL,
    statut character varying(20) NOT NULL,
    methode character varying(10) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO missiondz;

--
-- Name: quotes; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.quotes (
    id uuid NOT NULL,
    mission_id uuid NOT NULL,
    montant numeric(10,2) NOT NULL,
    devise character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    description text,
    statut character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.quotes OWNER TO missiondz;

--
-- Name: service_categories; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.service_categories (
    id uuid NOT NULL,
    slug character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    icon character varying(20),
    phase character varying(20) NOT NULL,
    active boolean DEFAULT false NOT NULL
);


ALTER TABLE public.service_categories OWNER TO missiondz;

--
-- Name: users; Type: TABLE; Schema: public; Owner: missiondz
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(50),
    role character varying(20) NOT NULL,
    country character varying(100),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO missiondz;

--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.attachments (id, mission_id, mission_update_id, cloudinary_url, cloudinary_public_id, type, uploaded_by_id, created_at) FROM stdin;
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.flyway_schema_history (installed_rank, version, description, type, script, checksum, installed_by, installed_on, execution_time, success) FROM stdin;
1	1	init schema	SQL	V1__init_schema.sql	-1275772585	missiondz	2026-08-27 14:58:44.566285	244	t
2	2	seed categories	SQL	V2__seed_categories.sql	-71705823	missiondz	2026-08-27 14:58:44.945046	13	t
3	3	seed admin and agent	SQL	V3__seed_admin_and_agent.sql	-729148622	missiondz	2026-08-27 14:58:45.008061	10	t
\.


--
-- Data for Name: mission_updates; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.mission_updates (id, mission_id, author_id, message, visible_to_client, created_at) FROM stdin;
\.


--
-- Data for Name: missions; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.missions (id, client_id, category_id, title, description, address_algeria, wilaya, preferred_date, status, executor_type, executor_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: partner_commissions; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.partner_commissions (id, mission_id, partner_id, montant, statut, created_at) FROM stdin;
\.


--
-- Data for Name: partner_profiles; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.partner_profiles (id, user_id, entreprise, specialite, wilaya, statut_validation, taux_commission, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.payments (id, mission_id, type, montant, statut, methode, created_at) FROM stdin;
\.


--
-- Data for Name: quotes; Type: TABLE DATA; Schema: public; Owner: missiondz
--

COPY public.quotes (id, mission_id, montant, devise, description, statut, created_at) FROM stdin;
\.


--
-- Data for Name: service_categories; Type: TABLE DATA; Schema: public; Owner: missiondz
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: missiondz
--



--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: mission_updates mission_updates_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.mission_updates
    ADD CONSTRAINT mission_updates_pkey PRIMARY KEY (id);


--
-- Name: missions missions_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_pkey PRIMARY KEY (id);


--
-- Name: partner_commissions partner_commissions_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_commissions
    ADD CONSTRAINT partner_commissions_pkey PRIMARY KEY (id);


--
-- Name: partner_profiles partner_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_profiles
    ADD CONSTRAINT partner_profiles_pkey PRIMARY KEY (id);


--
-- Name: partner_profiles partner_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_profiles
    ADD CONSTRAINT partner_profiles_user_id_key UNIQUE (user_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: quotes quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_pkey PRIMARY KEY (id);


--
-- Name: service_categories service_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_pkey PRIMARY KEY (id);


--
-- Name: service_categories service_categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_slug_key UNIQUE (slug);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_attachments_mission_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_attachments_mission_id ON public.attachments USING btree (mission_id);


--
-- Name: idx_mission_updates_mission_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_mission_updates_mission_id ON public.mission_updates USING btree (mission_id);


--
-- Name: idx_missions_client_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_missions_client_id ON public.missions USING btree (client_id);


--
-- Name: idx_missions_executor_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_missions_executor_id ON public.missions USING btree (executor_id);


--
-- Name: idx_partner_commissions_mission_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_partner_commissions_mission_id ON public.partner_commissions USING btree (mission_id);


--
-- Name: idx_partner_commissions_partner_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_partner_commissions_partner_id ON public.partner_commissions USING btree (partner_id);


--
-- Name: idx_payments_mission_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_payments_mission_id ON public.payments USING btree (mission_id);


--
-- Name: idx_quotes_mission_id; Type: INDEX; Schema: public; Owner: missiondz
--

CREATE INDEX idx_quotes_mission_id ON public.quotes USING btree (mission_id);


--
-- Name: attachments attachments_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- Name: attachments attachments_mission_update_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_mission_update_id_fkey FOREIGN KEY (mission_update_id) REFERENCES public.mission_updates(id);


--
-- Name: attachments attachments_uploaded_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_uploaded_by_id_fkey FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id);


--
-- Name: mission_updates mission_updates_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.mission_updates
    ADD CONSTRAINT mission_updates_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: mission_updates mission_updates_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.mission_updates
    ADD CONSTRAINT mission_updates_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- Name: missions missions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.service_categories(id);


--
-- Name: missions missions_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: partner_commissions partner_commissions_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_commissions
    ADD CONSTRAINT partner_commissions_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- Name: partner_commissions partner_commissions_partner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_commissions
    ADD CONSTRAINT partner_commissions_partner_id_fkey FOREIGN KEY (partner_id) REFERENCES public.partner_profiles(id);


--
-- Name: partner_profiles partner_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.partner_profiles
    ADD CONSTRAINT partner_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payments payments_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- Name: quotes quotes_mission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: missiondz
--

ALTER TABLE ONLY public.quotes
    ADD CONSTRAINT quotes_mission_id_fkey FOREIGN KEY (mission_id) REFERENCES public.missions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Vuh2lD5nXz1OvLELAahNRrOJvmJ8U1Lro2o0MJ37830Ki9foaTs6P4mZ1cXvn9v

